@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
}
/* Universal CSS Start */
.text-orange{color: #EA512E;}
.text-black{color: #1B0238;}
.text-silver{color:#6B6B84;}
.bg-orange{color: #EA512E;}
.bg-yellow{color: #f5890d;}
.bg-lightyellow{color: #fee9ca;}
.mt-20{margin-top: 200px;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #1b0238;
    font-family: "Catamaran", sans-serif;
    font-weight: bold;
}
.btn{
    display: inline-block;
    color: #ffffff;
    padding: 12px 35px;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
    position: relative;
    background-color: #EA512E;
    overflow: hidden;
    z-index: 99;
    margin-top:15px 0px;
 }
 p {
    margin-bottom: 15px;
    line-height: 1.8;
    color: #6b6b84;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    
 }
 
.btn:hover{
    background-color: #f5890d;
}
/* Universal CSS End */
/* Header Section Start */
.navbar{
    font-size: 16px;
    font-weight: 600;
    padding-left: 0;
    padding-right: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: "Roboto", sans-serif;
}
.navbar ul li a{
    color: #1B0238;
}
.navbar,.nav-item{
    padding:0px 12px;
    position: relative;
    
}
.navbar .nav-brand{
    margin-right: 15px;
}
.navbar-expand-lg .navbar-nav {
    display: inline-flex;
    justify-content: center;
    margin-left: 40px;
}

.navbar .navbar-nav .nav-item:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
    
    
}
 .navbar .navbar-nav .nav-item .dropdown-menu {
    
    border:none;
    top:70;
    left:0;
    z-index:99;
    opacity:0;
    width: 280px;
    display: block;
    border-radius:0;
    /* padding: 10px 0; */
    margin-top: 15px;
    position: absolute;
    visibility:hidden;
    background:#ffffff;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    box-shadow:0px 0px 15px 0px rgba(0, 0, 0, 0.1);
   
 }
 ::before{
    box-sizing: border-box;
 }
   .navbar-nav .nav-item .nav-link:hover{
    color: #EA512E;
   }
     
  
  
.navbar .navbar-nav .nav-item  .dropdown-menu li .dropdown-menu{
  top:0;
  opacity:0;
  visibility:visible;
  margin-top: 10px;
 }
 
 .navbar-expand-lg .navbar-collapse {
    display: flex;
    justify-content: end;
 }
 div .dropdown-item span{
    margin: 10px;
 }
 div #drop{
 border:none;
    top:70;
    left:0;
    z-index:99;
    opacity:0;
    width: 100px;
    display: block;
    border-radius:0;
    padding: 10px 0;
    margin-top: 15px;
    position: absolute;
    visibility:hidden;
    background:#ffffff;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    box-shadow:0px 0px 15px 0px rgba(0, 0, 0, 0.1);
 }
/* Header Section End */
/* Banner Section Start */
.banner{
    width: 100%;
    height:700px;
    background: url(../img/main-banner-bg.jpg);
    background-position:center center;
    background-size: cover;
}
.banner span{
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.banner h1{
    font-size:55px;
}

.shap1{
    top: 3.5%;
    left:.7%;
    animation:move1 3s linear infinite alternate;
}   
.shap2{
    justify-content:end;
    top: 3.5%;
     right:10%;
    animation:move2 3s linear infinite alternate;
}   
/* Banner Section End */


@keyframes move1 {
    0%{right: 50%;}
    100%{
       left: 3%; 
    }

    
}
@keyframes move2 {
    0%{left: .7%;}
    100%{
       left: 3%; 
    }

    
}